<md-item-content layout="row">
  <span flex-gt-sm></span>
  <md-card flex-gt-sm="55">
    <div class="article-title">
      <h2 btf-markdown="article.title | emoji"></h2>
    </div>
    <div class="article-content">
      <div btf-markdown="article.body | emoji"></div>
    </div>
    <md-divider></md-divider>
    <div class="article-comments-title">
      <h3>Comments</h3>
    </div>
    <comments></comments>
    <!-- <div layout="row">
      <span flex-gt-sm></span>
      <md-button class="md-fab md-primary button-new-comment">
        <l style="font-size: 2em; position: absolute; top: 6px; left: 20px;">+</l>
      </md-button>
    </div> -->
  </md-card>
  <span flex></span>
</md-item-content>
