<div md-theme="indigo" class="md-indigo-theme" ng-controller="MainCtrl as mainCtrl" layout-fill>
  <md-list layout=column>
    <md-item ng-repeat="article in mainCtrl.articles">
      <md-item-content layout="row">
        <span flex></span>
        <md-card flex="55">
          <div class="article-title">
            <h1>{{article.title}}</h1>
          </div>
          <div class="article-content">
            <p>{{article.body}}</p>
          </div>
          <div class="article-comments-title">
            <h3>Comments</h3>
          </div>
          <md-list>
            <md-item ng-repeat="comment in article.comments">
              <md-item-content layout="column" style="text-align: left;">
                <span flex>{{comment.author}} -
                  <strong><a href="mailto:{{comment.email}}">{{comment.email}}</a>
                  </strong>
                  <br/>
                </span>
                <blockquote>
                  {{comment.body}}
                </blockquote>
              </md-item-content>
            </md-item>
          </md-list>
          <div layout="row">
            <span flex></span>
            <md-button class="md-fab md-primary button-new-comment">+</md-button>
          </div>
        </md-card>
        <span flex></span>
      </md-item-content>
    </md-item>
  </md-list>
</div>
