<div md-theme="indigo" class="md-indigo-theme" ng-controller="MainCtrl as mainCtrl" layout-fill>
  <md-list layout=column>
    <div layout="row">
      <span flex-gt-sm></span>
      <md-item flex-gt-sm=55>
        <div class="alert alert-danger" role="alert">Oh hai there. Unfortunately you have stumbled upon my new (not quite yet done) blog. If you check back again soon I promise that I'll have some content for you to read.</div>
      </md-item>
      <span flex-gt-sm></span>
    </div>
    <new-article-form></new-article-form>
    <md-item ng-repeat="article in mainCtrl.articles">
      <article-card></article-card>
    </md-item>
  </md-list>
</div>
