@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

/*************
* BODY
*************/
body {
  padding-top: 88px;
}

/*************
* TOOLBAR
*************/
.gravatar {
  width: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  margin-right: 50px;
}

/*************
* ARTICLE
*************/
.article-title {
  font-weight: bold;
  font-size: 2em;
}

.button-new-comment {
  top: 35px;
}

/*************
*
*************/
